<div id="<%= dom_id invoice %>">
  <p>
    <strong>Number:</strong>
    <%= invoice.number %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= invoice.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= invoice.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= invoice.user_id %>
  </p>

</div>
